:root {
    --bg-body-color: #bbd9dc;
    --bg-tag-color: #6ba9ae;
    --grid-color: #c8eaed;
    --text-color: #343333;
    --heading-color: #343333;
    --sub-heading-color: #343333;
    --bg-footer: #d4e5e6;
    --text-footer-color: #000;
    --link-color: #336699;
    --hover-link-color: #336699;
    --inline-code-bg: #000;
    --inline-code-color: #000;
    --hover-bg-card-color: #90c4ca;
}

body {
    background-color: var(--bg-body-color);
    color: var(--text-color);
}
