[data-theme="dark"] {
    --bg-body-color: #414141;
    --bg-tag-color: #575757;
    --grid-color: #4f4c4f;
    --text-color: #f5e1e4;
    --heading-color: #c9c5c5;
    --sub-heading-color: #c9c5c5;
    --bg-footer: #e3d6d8;
    --text-footer-color: #262626;
    --link-color: #71b0b6;
    --hover-link-color: #71b0b6;
    --inline-code-bg: #3c3c3d;
    --inline-code-color: #af8c63;
    --hover-bg-card-color: #302f30;

    --blockquote-bg: #505050;
    --blockquote-border: #939393;
}
