---
import GoogleAnalytics from "../components/Analytics/GoogleAnalytics.astro";
---

<!doctype html>
<html lang="en" data-theme="white">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<slot name="meta-head"/>
	</head>
	<body class="w-full">
		<header>
			<slot name="before-body-header"/>
			<slot name="body-header"/>
			<slot name="after-body-header"/>
		</header>
		<main id="main-card-list" class="mx-auto min-h-screen">
			<slot name="before-body-main"/>
			<slot name="body-main"/>
			<slot name="after-body-main"/>
		</main>
		<footer>
			<slot name="before-body-footer"/>
			<slot name="body-footer"/>
			<slot name="after-body-footer"/>
		</footer>
		<GoogleAnalytics slot="body-footer"/>
	</body>
</html>